@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.content1{
    background-color: #0A2640;
    height: 615px;

}
.navbar{
    justify-content: space-between;
    display: flex;
    height: 42px;
    padding-block: 57px;
    padding-left: 50px;
}
.nav-list{
    margin-left: 40px;
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 40px;
    list-style-type: none;
}
.nav-list a{
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color: white;
}
button{
    width: 128px;
    height: 40px;
    border-radius: 24px;
    border: none;
    padding-block: 5px ;
    cursor: pointer;
    margin-right: 108px;
    color: #0A2640;
    font-family: "Open Sans", sans-serif;
}
button:hover{
    background-color: rgb(245, 252, 248);
}
.about{
    text-align: center;
    color: white;
    font-family: "Open Sans", sans-serif;
}
.content1 .heading{
    margin-top: 12px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    width: 800px;
    font-size: 64px;
    line-height: 84px;
    text-align: center;
    margin-left: 279px;
    color: white;
    margin-bottom: 32px;
}
.content1 .paragraph{
    font-family: "Open Sans", sans-serif;
    width: 743px;
    text-align: center;
    color: white;
    margin-left:319px;
}
.images{
    display: flex;
    margin-top: -100px;
}
.images1{
    margin-left: 150px;
}
.images2{
    margin-inline: 50px;
}
.img1{
    margin-top: 40px;
}
.content2{
    margin-left: 300px;
    margin-top: 122px;
}
.content2 p{
    color: grey;
    font-family:"Open Sans", sans-serif ;
    margin-bottom: 0;
}
.content2 .heading{
    margin-top: 12px;
    color: black;
    width: 842px;
    height: 144px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    
}
.content2 .paragraph{
    margin-top: 32px;
    font-family:"Open Sans", sans-serif ;
    color: grey;
    width: 799px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 96px;    
}
.content3{
    background-color: #0A2640;
}
.container{
    width: 842;
    height: 184;
}
.content3 .paragraph{
    font-family:"Open Sans", sans-serif ;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: white;
    text-align: center;
    padding-block: 94px 12px;
}
.content3 .heading{
    margin-top: 0;
    width: 842px;
    height: 144px;
    font-family:"Manrope", sans-serif ;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: white;
    margin-left: 279px;
}
.container2{
    margin-top: 84px;
    display: flex;
    margin-inline: 200px;
    width: 1000px;
    padding-bottom: 96px;
    align-items: center;
    justify-content: space-between;
}
.container2 .numbers{
    font-family:"Manrope", sans-serif ;
    font-weight: 400;
    font-size: 96px;
    line-height: 56px;
    color: #4FE9A4;
}
.container2 .paragraph2{
    margin-top: -50px;
    font-family: "Open Sans", sans-serif ;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: white;
}
.container2 .numbers2{
    font-family:"Manrope", sans-serif ;
    font-weight: 400;
    font-size: 96px;
    line-height: 56px;
    color: #4FE9A4;
}
.container2 .paragraph3{
    margin-top: -50px;
    font-family: "Open Sans", sans-serif ;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
}
.content4{
    background-color: #ffffff;
}
.container1 .our-team{
    font-family:"Open Sans", sans-serif ;
    padding-top: 98px;
    margin-left: 300px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: grey;
}
.content4 .heading{
    font-family:"Manrope", sans-serif ;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    color: black;
    margin-left: 300px;
    margin-top: 12px;
}
.content4 .paragraph{
    font-family:"Open Sans", sans-serif ;
    width: 799px;
    height: 110px;
    margin-top: 20px;
    margin-left: 300px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: grey;
}
.team-pic{
    display: flex;
}
.michael img{
    margin-top: 54px;
    margin-left: 200px;
    width: 300px;
    height: 354px;
    border-radius: 24px;
}
.michael .heading2{
    font-family:"Manrope", sans-serif ;
    margin-left: 200px;
    margin-top: 24px;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
}
.michael .paragraph2{
    font-family: "Open Sans", sans-serif;
    margin-top: -22px;
    margin-left: 200px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: gray;
}
.DwightSchrute img{
    margin-top: 54px;
    margin-left: 51px;
    width: 300px;
    height: 354px;
    border-radius: 24px;
}
.DwightSchrute .heading2{
    font-family:"Manrope", sans-serif ;
    margin-left: 80px;
    margin-top: 24px;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
}
.DwightSchrute .paragraph2{
    font-family: "Open Sans", sans-serif;
    margin-top: -22px;
    margin-left: 80px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: gray;
}
.Pambeetsley img{
    margin-top: 54px;
    margin-left: 51px;
    width: 300px;
    height: 354px;
    border-radius: 24px;
}
.Pambeetsley .heading2{
    font-family:"Manrope", sans-serif ;
    margin-left: 80px;
    margin-top: 24px;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
}
.Pambeetsley .paragraph2{
    font-family: "Open Sans", sans-serif;
    margin-top: -22px;
    margin-left: 80px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: gray;
}
.content5{
    background-color: #0A2640;
    padding-bottom: 120px;
}
.content5 .paragraph{
    padding-top: 123px;
    margin-left: 300px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
    margin-bottom: 0;
}
.content5 .heading{
    font-family:"Manrope", sans-serif ;
    margin-top: 12px;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    color: #ffffff;
    margin-left: 300px;
    margin-bottom: 0;
}
.content5 .paragraph2{
    font-family: "Open Sans", sans-serif;
    margin-top: 20px;
    margin-left: 300px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    width: 799px;
    height: 110px;
    color: #ffffff;
}
.content5 img{
    width: 150px;
    height: 151px;
    margin-left: 300px;
    border-radius: 24px;
}
.content5 .pic{
    display: flex;
}
.pic{
    margin-top: 72px;
}
.content5 .pic-heading{
    font-family:"Manrope", sans-serif ;
    margin-left: 50px;
    margin-top: -1px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: #ffffff;
}
.content5 .pic-paragraph{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 16px;
    margin-left: 50px;
    line-height: 32px;
    width: 602px;
    height: 71px;
    color: #ffffff;
}
.rectangle {
    margin-top: 124px;
    background-color: #0a2640;
    width: 1100px;
    height: 390px;
    border-radius: 12px;
    background-image: url(./images/rectangl_pic.png);
    background-repeat: no-repeat;
    background-position: right top;
  }
  .rectangle p{
    font-family:"Manrope", sans-serif;
  }
  .buttons {
    padding-left: 250px;
    display: flex;
    gap: 30px;
  }
  li {
    list-style: none;
  }
  .rectangle input::placeholder {
    margin-left: 32px;
  }
  .email {
    padding-left: 15px;
    width: 370px;
    height: 56px;
    border-radius: 240px;
    border: none;
  }
  .start button {
    width: 210px;
    height: 60px;
    border: 2;
    border-radius: 56px;
    background-color: #65e4a3;
  }
  .footer1 {
    display: flex;
  }
  .footer2 {
    padding-top: 84px;
  }
  .flist {
    list-style-type: none;
    display: flex;
  }
  .footerp1 {
    font-family: "Open Sans", sans-serif;
    color: #777777;
    font-size: 16px;
    line-height: 28px;
    width: 280px;
  }
  .footerp2 {
    font-family: "Open Sans", sans-serif;
    padding-top: 64px;
    color: #777777;
    font-size: 16px;
    width: 300px;
  }
  .footer2 img {
    padding-bottom: 50px;
  }
  .footerlist {
    padding-top: 84px;
    margin-left: 96px;
  }
  .footerlist li p {
    font-family:"Manrope", sans-serif ;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    color: black;
  }
  .footerlist li {
    margin-bottom: 30px;
    color: #777777;
  }
  .footerlist li button {
    margin-top: 5px;
    width: 72px;
    height: 30px;
    border-radius: 120px;
    border: none;
    background-color: #65e4a3;
  }
  .list{
    margin-left:-50px;
  }