@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
    background-image :url(./images/navbackimg.png);
    background-repeat: no-repeat;
    background-position: right top;
}
.navlogo{
    padding:0px;
    margin: 0px;
}
.navbar {
    justify-content: space-between;
    display: flex;
    height: 42px;
    padding-top: 56px;
    padding-inline: 100px;
}
 .nav-list {
    margin-left: 40px;
    display: flex;
    align-items: center;
    font-size: 20px;
    inline-size: none;
    gap: 40px;
    list-style-type: none;
}
  a{
    color: #0A2640;
    text-decoration: none;
}
  button {
    border-color: #0a2640;
    height: 40px;
    width: 128px;
    border-radius: 24px;
    cursor: pointer;
 }
.container1{
    display: flex;
    margin-left:-30px;

}
 .paragraph p{
    font-family: "Manrope", sans-serif;
    width: 600px;
    font-size: 48px;
    line-height: 72px;
    margin-top: 123px;
    margin-bottom: 0%;
    padding-left: 128px;
}
 .paragraph span p{
    font-family: "Open Sans", sans-serif;
    margin-top: 16px;
    font-size: 16px;
    line-height: 28px;
    width: 540px;
    color:gray;
    display: flex;
}
.img{
    margin-top:56px;
    margin-left:53.65px;
}
.img2{
    margin-top: 25.77px;
    margin-right: 38.65px;
}
.btns{
    margin-left: 100px;
    margin-top: 50px;
}
.buybtn{
    width: 247px;
    height: 60px;
    border-radius: 56px;
    border: none;
    background-color: #0A2640;
    margin-right: 24px;
    color: white;
    font-family: "Open Sans", sans-serif;
}
.explorebtn{
    width: 187px;
    height: 60px;
    border-radius: 56px;
    font-family: "Open Sans", sans-serif;
}
.logoimgs{
    list-style-type: none;
    display: flex;
    gap: 50px;
    margin-inline: 141px 140px;
    margin-top: 95px;
}
.container2{
    background-color: #0a2640;
}
.container2 p{
    color: white;
    text-align: center;
    padding-top:82px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-bottom:12px ;
    padding-bottom: 0%;
}
.container2 span p{
    margin-top: 0%;
    padding-top: 0;
    font-family: "Manrope", sans-serif;
    width: 842px;
    height: 144px;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    margin-inline: 284px 279px;
}
.cardsecation{
    display: flex;
    gap: 99px;
    margin-left: 156px;
    margin-top: 72px;

}
hr{
    margin-right: 100%;
    width: 110px;
}
.cardtext p{
    padding-top:0px;
    text-align: left;
    color: white;
}
.cardtext a{
    color: white;
    padding-top: 20px;
}
.container3{
    display: flex;
}
.pic{
    margin-top: 120px;
    margin-left: 156px;
}
.container3 .heading{
    margin-left: 150px;
    margin-top:186px;
}
.container3 .heading span p{
    font-family: "Manrope", sans-serif;
    width: 493px;
    height: 164px;
    font-weight: 400;
    font-size: 36px;
    line-height: 56px;
    color: black;
}
.container3 p{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-top: 0%;

}
.heading li{
    list-style-type: none;
    display: flex;
}
.heading li img{
    margin-right: 20px;
    width:36px;
    height: 36px;
}
.heading li p{
    font-family: "Open Sans", sans-serif;
    line-height: 32px;
}
.container3 button{
    margin-top: 56px;
    background-color: #0A2640;
    color: white;
    width: 210px;
    height: 60px;
    border-radius: 56px;
    border-width: 2px;
}
.heading2 p{
    font-family: "Manrope", sans-serif;
    width: 493px;
    height: 164px;
    font-weight: 400;
    font-size: 36px;
    line-height: 56px;
    margin-left: 150px;
    margin-top: 226px;
}
.feather{
    width: 500px;
    height: 68px;
    margin-left: 150px;
    border-radius: 4px;
    background-color: #0A2640;
}
.feather li{
    list-style-type: none;
    display: flex;
    padding-top: 16px;
    color: white;
}
.feather li img{
    margin-left: 20px;
    margin-right: 12px;
    width:28px;
    height: 28px;
    color: white;
    margin-top: 5px;
}
.feather li p{
    font-family: "Open Sans", sans-serif;
    line-height: 32px;
    margin-top: 4px;
}
.star{
    width: 500px;
    height: 68px;
    margin-left: 150px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 1px 1px #00000014;
    margin-top: 24px;
}
.star li{
    list-style-type: none;
    display: flex;
    padding-top: 16px;
}
.star li img{
    margin-left: 20px;
    margin-right: 12px;
    width:28px;
    height: 28px;
    margin-top: 5px;
}
.star li p{
    font-family: "Open Sans", sans-serif;
    line-height: 32px;
    margin-top: 4px;
}
.sun{
    width: 500px;
    height: 68px;
    margin-left: 150px;
    border-radius: 4px;
    background-color: #FFFFFF;
}
.sun li{
    list-style-type: none;
    display: flex;
    padding-top: 16px;
}
.sun li img{
    margin-left: 20px;
    margin-right: 12px;
    width:28px;
    height: 28px;
    margin-top: 5px;
}
.sun li p{
    font-family: "Open Sans", sans-serif;
    line-height: 32px;
    margin-top: 4px;
}
.pic2{
    float: right;
    margin-top: -600px;
}
.content{
    background-color: #0A2640;
}
.heading3{
    margin-top: 179px;
    padding-top: 100px;
    padding-left: 150px;
    display: flex;
}
.heading3 p{
    width: 716px;
    height: 139px;
    margin-right: 200px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    color: white;
}
.arrow-pic{
    margin-right: 28px;
    margin-top: 160px;
}
.arrow-pic .pic0{
    margin-right: 100px;
}
.cards{
    margin-top: 96px;
    display: flex;
}
.content .card1{
    width: 240px;
    height: 270px;
    margin-left: 150px;
    border-radius: 12px;
    padding: 40px;
    margin-right: 40px;
    background-color: white;
}
.content .card1 p{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    width: 270px;
    height: 144px;

}
.pic-para{
    display: flex;
    margin-top: 40px;
}
.content .cards img{
    width: 58px;
    height: 58px;
    margin-top: 18px;
}
.pic-para p{
    margin-left: 20px;
    width: 196px;
    height: 22px;
    font-family: "Open Sans", sans-serif !important;
    font-weight: 700 !important;
    font-size: 16px !important;
}
.manager p{
    color: gray;
    margin-top: -140px;
    margin-left: 78px;
    font-family: "Open Sans", sans-serif!important;
    font-weight: 400 !important;
    font-size: 14px !important;
}
.content .card2{
    width: 270px;
    height: 334px;
    border-radius: 12px;
    padding: 40px;
    gap: 40px;
    background-color: white;
}
.content .card2 p{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    width: 270px;
    height: 144px;
}
.pic-para2{
    display: flex;
    margin-top: 90px;
}
.pic-para2 p{
    margin-left: 20px;
    width: 196px;
    height: 22px;
    font-family: "Open Sans", sans-serif !important;
    font-weight: 700 !important;
    font-size: 16px !important;
}
.content .card3{
    width: 270px;
    height: 294px;
    border-radius: 12px;
    padding: 40px;
    margin-left: 40px;
    background-color: white;
}
.content .card3 p{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    width: 270px;
    height: 144px;
}
.pic-para3{
    display: flex;
    margin-top: 60px;
}
.pic-para3 p{
    margin-left: 20px;
    width: 196px;
    height: 22px;
    font-family: "Open Sans", sans-serif !important;
    font-weight: 700 !important;
    font-size: 16px !important;
}